@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

/* First part */

.first {
    background-image: url(./Rectangle\ 1.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
    /* Header */
.header {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}
.header p {
    display: none;
}
.head-mid {
    font-size: 20px;
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-right: 30px;
}
.head-mid a {
    text-decoration: none;
    color: aliceblue;
}
.head-mid a:active {
    color: gray;
}
.head-end {
    border: none;
    background-color: #1A3E3E;
    border-radius: 4px;
    padding: 8px 16px;
    color: aliceblue;
    font-size: 18px;
}
.head-end:hover {
    background-color: green;
    cursor: pointer;
}

    /* The bottom part */

.first-bottom {
    margin-top: auto;
    margin-bottom: 40px;
    padding: 0 20px;
}
.first-bottom h1 {
    width: 80%;
    font-size: 60px;
    color: aliceblue;
    margin-bottom: 25px;
}
.first-date {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 15vh;
    padding: 20px;
    border-radius: 8px;
}
.input1 select, .input1 input, .input1 button {
    padding: 16px 24px;
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 8px;
    color: aliceblue;
}
.input1 p {
    font-size: 16px;
    color: #FDFDFD;
}
.mob-but {
    display: none;
}
.field {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid aliceblue;
    border-radius: 8px;
    padding: 16px 24px;
}
.field input {
    border: none;
    background-color: transparent;
    outline: none;
}
.field input::placeholder, .input1 input::placeholder {
    color: aliceblue;
    font-size: 15px;
}
.field input:focus {
    background: none;
    color: aliceblue;
}
.fields {
    font-size: 12px;
    color: #FDFDFD;
}
.input1 button {
    background-color: aliceblue;
    color: black;
}
.input1 button:hover {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

/* Second Part */
.second {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
    width: 100%;
    position: relative;
}
.sec-dis {
    width: 40%;
}
.sec-img {
    width: 40%;
    min-height: 400px;
    position: relative;
}
.sec-img1 {
    position: absolute;
    top: 70px;
    left: 136px;
    z-index: 2;
}
.sec-img2 {
    position: absolute;
    top: 0;
    left: 0;
}

/* Third part */
.third {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 30px 0;
}
.centr-thre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.centr-left {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.centr-left h6 {
    font-size: 18px;
}
.centr-left p {
    font-size: 14px;
}
.thre-end {
    border: none;
    background-color: #1A3E3E;
    border-radius: 4px;
    padding: 8px 12px;
    color: aliceblue;
    margin: 20px 0;
}
.thre-right {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin: auto;
}
.right {
    display: flex;
}
.right img {
    margin: 1%;
    width: 35%;
    height: auto;
}
.centr-left-dis {
    margin: 10px 0;
}
.centr-left-dis p {
    color: #000;
}

/* Part four */
.fourth {
    margin: 80px 20px;
}

.places {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card {
    background-image: url(./1.png);
    width: 380px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
}
.card-end {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 21px 21px;
    padding: 30px 0;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.card-end button {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 16px 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-right: 10px;
}
.card-end button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.card-dis {
    padding: 0 10px;
}
.card-dis h3, p {
    color: aliceblue;
}
.card-dis h3 {
    font-size: 24px;
}
.card-dis p {
    font-size: 14px;
}
.card2 {
    background-image: url(./фоновое\ изображение\ \(1\).png);
}
.card3 {
    background-image: url(./фоновое\ изображение\ \(2\).png);
}
.four-end {
    width: 244px;
    height: 52px;
    margin: 0 600px;
    margin-top: 60px;
}
.star {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 65px;
    height: 32px;

    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 4px 0px 0 4px;
}
.star p {
    color: rgba(26, 62, 62, 1);
    font-weight: 700;
}

/* Part five */
.five {
    background-color: rgba(243, 245, 244, 1);
    padding: 40px 0;
}
.main-five {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    background-color: rgba(243, 245, 244, 1);
}
.five-card {
    width: 45%;
    background-color: white;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.five-card img {
    display: block;
    border-radius: 14px;
    padding: 20px;
}
.five-card-dis {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.five-card-dis h3 {
    margin-bottom: 15px;
    font-size: 24px;
}
.five-card-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.five-card-bottom a {
    text-decoration: none;
    color: #1A3E3E;
    font-size: 16px;
}
.five-card:hover {
    background-color: rgb(17, 212, 199);
    cursor: pointer;
}
.five-end {
    width: 244px;
    height: 52px;
    margin: 0 630px;
    margin-top: 60px;
}






























.block {
    display: none;
}

@media (max-width: 510px) {
    .hidden {
        display: none;
    }
    .block {
        display: block;
    }
    /* First part */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .header p {
        font-size: 44px;
        color: aliceblue;
        display: block;
    }
    .first-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .first-bottom h1 {
        width: 90%;
        font-size: 43px;
    }
    .mob-but {
        padding: 14px 24px;
        font-size: 22px;
        border-radius: 8px;
        border: none;
    }

    /* Second part */
    .second {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 20px;
        position: static;
        width: 90%;
    }
    .sec-dis {
        width: 94%;
    }
    .sec-img img  {
        width: 100%;
        position: static;
    }
    .sec-img {
        width: 100%;
        position: static;
    }

    /* Third part */
    .thre-left {
        display: flex;
        flex-direction: column;
    }
    .thre-end {
        display: block;
        width: 50%;
        margin: 30px auto;
    }

    /* Fourth part */

    .places {
        width: 100%;
        overflow: auto;
        justify-content: space-between;
        gap: 10px;
    }
    .card {
        min-width: 70%;
       
    }
    .four-end {
        margin: 0;
        margin-top: 60px;
    }

    /* Fifth part */
    .main-five {
        width: 100%;
        overflow: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 20px;
    }
    .five-card {
        min-width: 70%;
        flex-direction: column;
    }
    .five-card-dis {
        gap: 20px;
    }

    .five-end {
        margin: 0 20px;
        margin-top: 60px;
    }
}